.timer-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 355px;
    height: 40px;
    margin-bottom: 32px;
}

.input-picker {
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    background: #fff;
}

.input-picker:active {
    border: 1px solid #4e75ff;
}


.btn-start {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4e75ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: none;
}

.btn-start:disabled {
    background: #cfcfcf;

}

.btn-start:hover {
    background: #6c8cff;
}

.timer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
    width: 346px;
    height: 72px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 55px;
    height: 72px;
}

.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

.iziToast.iziToast {
    background: #ef4040;
    border-bottom: 2px solid;
    border-radius: 4px;
    padding: 20px;
    width: 302px;
    height: 64px;
}